<div id="app">
  <button v-on:click="counter += 1">Add 1</button>
  <button v-on:click="counter += 5">Add 5</button>
  <p>{{ counter }}</p>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	var app = new Vue({
	  el: "#app",
	  data: {
		counter: 0,
	  }
	})
</script>