<div id="app">
	<h2>contador de caracteres y letras</h2>
	<textarea class="form-control" v-on:keyup="countdown" v-model="message" placeholder=""></textarea>
	<p class='text-right text-small' v-bind:class="{'text-danger': hasError }">{{remainingCount}}</p>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data: {
	maxCount: 0,
	remainingCount: 0,
	message: '',
	hasError: false
  },
  methods: {
    countdown: function() {
		this.remainingCount = this.maxCount + this.message.length + " caracteres";
		this.hasError = this.remainingCount < 0;
    }
  }
})
</script><!--
La carpeta confirt guarda variables de entorno
La carpeta src guarda material grafico
La cappeta component gradia componentes
-->