<div id="app" v-bind:style="{ backgroundColor: color}">
	<h1>Try a color</h1>
	<div class="color">
		<input type="text" v-bind:style="{ color: color}" v-model="color" maxlength="7" placeholder="#000000"/>
	</div>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {color: '#673AB7'}
	})
</script>