<title>F y T</title>
<style>
	.preview-face{
		border: 1px solid yellow;
		width: 300px;
		height: 200px;
	}
	.preview-twitter{
		border-radius: 15px 50px;
		border: 1px solid black;
		width: 300px;
		height: 200px;
	}
	.face-titulo{
		margin-left: 20px;
		font-family: 'Roboto', sans-serif;
	}
	.face-descripcion{
		
	}
	.face-link{
		
	}
	.face-img{
		
	}
	.tw-titulo{
		margin-left: 20px;
		font-family: 'Roboto', sans-serif;
	}
	.tw-descripcion{
		
	}
	.tw-link{
		
	}
	.tw-img{
		
	}
</style>
<div id="app">
	<input v-model="titulo" placeholder="Titulo" /><br><br>
	<input v-model="descripcion" placeholder="Descripcion"/><br><br>
	<input v-model="link" placeholder="Link"/><br><br>
	<input v-model="img" placeholder="Img"/><br><br>
	
	<div class="preview-face">
		<div class="face-titulo">{{titulo}}</div>
		<div class="face-descripcion">{{descripcion}}</div>
		<div v-src="imagen" class="face-link">{{link}}</div>
		<div v-bind:src="imagen" class="face-img">{{img}}</div>
	</div>
	<br>
	<div class="preview-twitter">
		<div class="tw-titulo">{{titulo}}</div>
		<div class="tw-descripcion">{{descripcion}}</div>
		<div v-src="imagen" class="tw-link">{{link}}</div>
		<div v-bind:src="imagen" class="tw-img">{{img}}</div>
	</div>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			titulo: "",
			descripcion: "",
			link: "",
			img: ""
		},
	})
</script>