<h1>Lista de compras</h1>
<ul id="app">
	<li v-for="li in compras" style="font-family: 'Montserrat', sans-serif;" v-on:click="{color: red}">
		{{li.text}}
	</li>
</ul>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	new Vue({
		el: "#app",
		data: {
			compras:[
				{text: "Manzana"},
				{text: "Platano"},
				{text: "Mango"},
				{text: "Pera"},
				{text: "Uvas"},
			],
		}
	})
</script>