<!--Componentes-->
<div id="app">
	<todo-item
		v-for="pendiente in listaDePendientes"
		v-bind="todo=pendiente"
		v-bind:key="pendiente.id"
	></todo-item><!--Se una key para modificar un solo eleento de un array-->
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
Vue.component('todo-item',{
	props: ['todo']
	template: '<li>{{"todo-texto"}}</li>'
})	

	new Vue({
      el: "#app",
      data: {
        listaDePendientes: [
          {
              id: 0,
              texto: "Lavar la ropa",
          }, {
              id: 1,
              texto: "Hacer la tarea de Codellege",
          }, {
              id: 2,
              texto: "Ver si ya puso la marrana",
          }
        ]
      }
    })
</script>