<h1>Librerias de JavaScript</h1>
<ul id="app">	
	<li v-for="li in librerias" style="font-family: 'Montserrat', sans-serif;">
		{{li.text}}	
	</li><br>
	<span style="font-family: 'Montserrat', sans-serif;">{{nuevo}}</span><br>
	<input type="text" v-model="nuevo" />
</ul>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	new Vue({
		el: "#app",
		data: {
			librerias:[
				{text: "Ajax"},
				{text: "MooTools"}, 
				{text: "Modernizr"},
				{text: "Bootstrap"}, 
				{text: "JQuery"},	
			],
			nuevo: "",
		}
	})
</script>
