<div id="app">
	<p>{{mensaje}}</p>
	<input v-model="mensaje" type="text" />
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			mensaje: 'Hello Codellege!',
		},
		
	})
</script>