<div id="app">
	<p>{{message}}</p>
	<button v-on:click="reverseMessage">reverseMessage</button>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Codellege!',
		},
		methods:{
			reverseMessage: function(){
				this.message = this.message.split("").reverse().join("")
			}	
		}
	})
</script>