<!DOCTYPE>
<html>
<head>
	<title>Menu-navbar</title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #333;
		}
		li {
			float: left;
		}
		li{
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}
		li:hover {
			background-color: #111;
		}
	</style>
</head>

<body>
<nav>
	<ul id="example-1">
	  <li v-for="item in items">
		{{item.message}}
	  </li>
	</ul>
</nav>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>	
	var example1 = new Vue({
		el: '#example-1',
		data: {
		items: [
				{ message: 'Hola' },
				{ message: 'Codellege' }
			]
		}
	})
</script>	
</body>
</html>