<h1>Mandado</h1>
<ul id="app">	
	<li v-for="li in mandado" style="font-family: 'Montserrat', sans-serif;">
		{{li.text}}
	</li>
</ul>
<button>Lista</button> <button v-bind:style="{color: red}">RECUADROS</button>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	new Vue({
		el: "#app",
		data: {
			mandado:[
				{text: "Manzana"},
				{text: "Platano"},
				{text: "Mango"},
				{text: "Pera"},
				{text: "Uvas"},
			],
		}
	})
</script>