<title>Tabla de buqueda</title>
<style>
	table, tr, td{
		border-collapse: collapse;
		border: 1px solid black;
		padding: 10px;
	}
</style>
<div id="app">
  <table class="search-wrapper">
	<tr>
		<td><input type="text" v-model="search" placeholder="Buscar a..."/></td>
	</tr>
	<tr class="wrapper" class="card" v-for="post in filteredList">
		<td v-bind:href="post.link" target="_blank">
			{{ post.title }}
		</td>
	</tr>
  </table>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	class Post {
  constructor(title) {
    this.title = title;
  }
}

const app = new Vue ({
  el: '#app',
  data: {
    search: '',
    postList : [
      new Post(
        'Kelvin',
      ),
      new Post(
        'Kike', 
      ),
      new Post(
        'Diego',
      ),
      new Post(
        'Aleshki',
      ),
      new Post(
        'Lesly',
      ),
      new Post(
        'Eduardo',
      ),
      new Post(
        'Joaquin',
      ),
      new Post(
        'Saul',
      ),
      new Post(
        'La doña del cafe',
      ),
]
  },
  computed: {
    filteredList() {
      return this.postList.filter(post => {
        return post.title.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})
</script>