<title>Todo-List</title>
<div id="app">
	<form @submit.prevent="enviarFormulario">
		Deberes:
		<input type="text" id="frase" v-model="deber" />
		
		<br>
		<br>

		<input type="submit" placeholder="Enviar" />
	</form>

	<div v-for="(item, index) in deberes" @click="borrarTarea(index)">
		{{ item.deber }}
	</div>
</div>
	<div style="border-radius: 15px 50px ; border: 1px solid black ; width:  500px; height: 100px">
		<h3 style="margin-left: 30px">Tocar las tareas si ya las has hecho ;v</h3>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			deber: "",
			deberes: [
				{
					deber: "Lavar los trastes",
				}
			]
		},
		methods:{
			enviarFormulario: function() {
					var datosChidos = {
					deber: this.deber
				}
				this.deberes.push(datosChidos)
			},
			borrarTarea: function(index){
				this.deberes.splice(index, 1)
			}
		}
	})
</script>