<title>Validacion</title>
<div id="app">
	<input type="text" v-model="nombre"/>
	<b v-if="!nombre" style="color: red">*Requerido</b><br>
	<br>
	<input type="text" v-model="apellido"/>
	<b v-if="!apellido" style="color: red">*Requerido</b><br>
	<br>
	<input type="number" v-model="telefono"/>
	<b v-if="!telefono" style="color: red">*Requerido</b><br>
	<select>
		<option v-for="item in opciones">
			{{item.text}}
		</option>
	</select>
</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.js"></script>
<script>
	new Vue({
		el: '#app',
		data: {
			opciones:[
				{ text: 'One', value: 'A' },
				{ text: 'Two', value: 'B' },
				{ text: 'Three', value: 'C'},
			],
			nombre: "",
			apellido: "",
			telefono: "",
		},
		methods:{
			
		}
	})
</script>











